{{define "lawsoffederation/detail"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" .PageTitle }}

{{template "navbar" . }}
{{template "header" . }}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{ .PageTitle }}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="/lfn">Laws of Federation</a></li>
                            <li class="breadcrumb-item"><a href="#!">Read</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->

        <div class="row clearfix" data-controller="article">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                
                                <div>
                                    <div class="text-center">
                                        <h2 style="color:#990033; font-size:24px; text-align:center; margin: 0 5px 0 1px;">{{ .Law.Title }}</h2>
                                        <p>
                                            {{ if neq .Law.LawNo "" }}
                                            <span class="court">{{ .Law.LawNo }}</span>
                                            {{ end }}
                                            <span class="date">{{ formatDate .Law.LawDate }}</span>
                                        </p>
                                    </div>
                                    {{ $lawCount := len .Law.Parts }}
                                    {{ range $part := .Law.Parts }}
                                        {{ if gt $lawCount 1 }}
                                            <h4>{{ $part.PartHeader }}</h4>
                                            <hr class="underline" />
                                        {{ end }}
                                        {{ range $lawSection := $part.Sections }}
                                            <div>
                                                <h5 class="case-detail-label">{{ $lawSection.SectionHeader }}</h5>
                                                <p class="case-detail-text">{{ rawHTML (addLinebreaks $lawSection.SectionBody) }}</p>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                
                                    {{ if gt (len .Law.Schedules) 0 }}
                                        {{ range $schedule := .Law.Schedules}}
                                            <div>
                                                <h5 class="case-detail-label">{{ $schedule.SchedHeader }}</h5>
                                                <p class="case-detail-text">{{ rawHTML (addLinebreaks $schedule.SchedBody) }}</p>
                                            </div>
                                        {{ end }}
                                    {{ end }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- [ Main Content ] end -->
    </div>
</div>

{{ template "footer" . }}
</body>

</html>
{{end}}